<!DOCTYPE html>
<html>
  <head>
    <title>Acme Products/Categories</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/custom.css" />
  </head>
  <body>
    <div class="container">
      <h3>Acme Product Categories</h3>
      <nav class="mainnav">
        <ul class="nav nav-tabs">
          <li {% if nav == 'home' %} class="active" {% endif %}><a href="/">Software Versions:</a></li>
          <li {% if nav == 'javascript' %} class="active" {% endif %}><a href="/javascript">JavaScript</a></li>
          <li {% if nav == 'postgres' %} class="active" {% endif %}><a href="/postgress">Postgres</a></li>
        </ul>
      </nav>
    </div>
    <div class="container">
      {% block content%}{% endblock %}
    </div>
  </body>
</html>