{% extends './layout.html' %}
{% block content %}
  <div class="row">
    <div class='col-sm-8'>
      <div class="marginbelow"><h4>Products for {{ navApp }}</h4></div>
      <div>
        <h5>Add a Product:</h5>
        <div class="well">
          <form action="/js/categories/{{ navApp }}/products" method="POST">
            <input name="name" size="40px" class="marginbelow" value="{{ name }}" />
            <button class="btn btn-primary moveright" type="submit">Submit</button><br />
            <div class="margintop">
              {% if error1 %} <strong class="margintop">Error: Name Invalid, Duplicate or too long (23 max)</strong>{% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row margintop">
    <div class='col-sm-8'>
      <div>
        <h5>Existing Products:</h5>
        <ul class="list-group">
          {% for product in products %}
            {% if action %}
              <li class="list-group-item">
                <div class="marginbelowsm margintop">
                  {{ product.name }}
                  <form action="/js/categories/{{ navApp }}/products/{{ product.id }}?_method=DELETE" method="POST">
                    <button class="btn btn-danger pull-right moveup" type="submit">Delete</button>
                  </form>
                    <button class="btn btn-info pull-right moveup moveleft" onclick="window.location.href='/js/categories/{{ navApp }}/products/{{ product.id }}'">Edit</button>
                </div>
              </li>
            {% elif product.id == actionValue  %}
              <li class="list-group-item">
                <div class="marginbelowsm margintop">
                    <button class="btn btn-default moveupsm pull-right" onclick="window.location.href='/js/categories/{{ navApp }}/products'">Cancel</button>
                  <form action="/js/categories/{{ navApp }}/products/{{product.id}}?_method=PUT" method="POST">
                    <input name="nameChg" type="text" size="50px" value="{{ product.name }}" />
                    <button class="btn btn-primary pull-right moveupsm moveleft" type="submit">Submit</button>
                  </form>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>


      </div>
    </div>
  </div>
  <div class="row margintop">
    <div class='col-sm-8'>
      <div>
        <h5>Data:</h5>
        {{ categories }}
      </div>
    </div>
  </div>
{% endblock %}